@using Praktikum02.Blasor.Data

<tr>
    <td>@Movie.Title</td>
    <td>@Movie.ReleaseDate.ToString("yyyy-MM-dd")</td>
    <td>@Movie.Genre</td>
    <td>@Movie.Price</td>
    <td class="text-nowrap">
        <NavLink class="btn btn-sm btn-primary me-1" href="@($"/movies/edit/{Movie.Id}")">Edit</NavLink>
        <NavLink class="btn btn-sm btn-secondary me-1" href="@($"/movies/details/{Movie.Id}")">Details</NavLink>
        <NavLink class="btn btn-sm btn-danger" href="@($"/movies/delete/{Movie.Id}")">Delete</NavLink>
    </td>
</tr>

@code {
    [Parameter] public Movie Movie { get; set; } = default!;
}